button{
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5rem 5rem 5rem 5rem;
    border: none;
    color: white;
    opacity: 1;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.submit-button {
    background-color: #e72929;
}

.cancel-button{
    background-color: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.title {
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #af1313;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}