<div class="container">
    <div class="details">
        <label class="title">Change Password</label>

        <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
            <div>
                <label>Old Password</label>
                <div>
                    <input type="password" placeholder="Enter your old password" formControlName="oldPassword">
                </div>
            </div>

            <div>
                <label>New Password</label>
                <div>
                    <input type="password" placeholder="Enter your new password" formControlName="newPassword">
                </div>
            </div>

            <button class="submit-button" type="submit">Submit</button>
            <button class="cancel-button" type="button" (click)="goToHome()">Cancel</button>
        </form>
    </div>
</div>