<header>
    <div class="container">
        <a routerLink="/" class="logo">Tea Ordering System</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" *ngIf="!loginStatus">Login</a>
                </li>

                <li class="menu-container">
                    <a *ngIf="loginStatus">User</a>
                    <div class="menu">
                        <a routerLink="/change-password">Change Password</a>
                        <a routerLink="/manage-users">Manage Users</a>
                        <a (click)="removeLoginInfo()">Logout</a>
                    </div>
                </li>

                <li>
                    <a routerLink="/orders" *ngIf="loginStatus">Orders</a>
                </li>
            </ul>
        </nav>
    </div>
</header>