ul {
    list-style-type: none;
}

li a {
    height: 8rem;
    width: 95%;
    border: 5px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    color: #e72929;
    overflow: hidden;
}

li a img {
    object-fit: cover;
    height: 8rem;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
}

button {
    border-radius: 5rem 5rem 5rem 5rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    border: none;
    background-color: #e72929;
    color: white;
    opacity: 1;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.create-tea-session{
    margin-right: 3.3rem;
    position:relative;
    top: -3rem;
    width: 10rem;
    float: right;
}