ul {
    list-style-type: none;
}

li a {
    height: 8rem;
    width: 95%;
    border: 5px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    color: #e72929;
    overflow: hidden;
}

li a img {
    object-fit: cover;
    height: 8rem;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}