.idea
*.iml
.classpath
.project
.target
.settings
target
.cache-main
tsconfig.json
tsconfig.webpack.json
webpack.config.js
package.json
npm
npm.cmd
.npmrc
node_modules
node
dll
dist
compiled
locale/
*.dbmdl
*.user
.vs
*.refactorlog
*.jfm
bin/
obj/
*.orig
html-elements-plugin
empty.js
head-config.common.js
helpers.js
package.json.regex
resource-override.js
webpack.*.js
!webpack.external.js
pom.xml.versionsBackup
.cache-tests
tslint.json
locale*.properties
build-config.json
dashboard.json
gulp-helpers.js
gulp-tasks.js
.sasslint.yml
package-ng6.json.regex
postcss.config.js
stylelint.config.js
angular.json
gulpfile.js
postcss.config.js
yarn
yarn.cmd
.server